/* ===========================
   ======= Body style ======== 
   =========================== */
body {
	background-image: url('../images/bg.png');

	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
		'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

.body {
	clear: both;
	margin: 0 auto;
	width: 75%;
	
}

/* ===========================
   ========= Headings ======== 
   =========================== */
h2 {
	font-size: 1.571em
} /* 22px */
h3 {
	font-size: 1.429em
} /* 20px */
h4 {
	font-size: 1.286em
} /* 18px */
h5 {
	font-size: 1.143em
} /* 16px */
h6 {
	font-size: 1em
} /* 14px */
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* ===========================
   ======= Anchor style ====== 
   =========================== */
a {
	outline: 0;
}

a img {
	border: 0px;
	text-decoration: none;
}

a:link,a:visited {
	color: #880f0f;
	text-decoration: none;
}

a:hover,a:active {
	background-color: #880f0f;
	color: #fff;
	text-decoration: none;
}

/* ===========================
   =====    Main Header  ===== 
   =========================== */
.mainHeader {
	background: #666;
	font-size: 1em;
	height: 200px;
	line-height: 10px;
	margin: 0 auto 15px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
}

.mainHeader img {
	padding: 0.5%;
	height: 95%;
	width: auto;
	float: left;
}

.mainHeader nav {
	float: right;
	padding: 1%;
	padding-top: 15px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	display: inline;
	color: #fff;
}

.mainHeader nav a:link,.mainHeader nav a:visited {
	color: #fff;
	height: 15px;
	padding: 5px 20px;
	text-decoration: none;
}

.mainHeader nav a:hover,.mainHeader nav a:active,.mainHeader .active a:link,.mainHeader .active a:visited
	{
	background: #880f0f;
	color: #fff;
	height: 15px;
	padding: 5px 20px;
	text-shadow: none !important;
}

.mainHeader h1 {
	margin: 0;
	padding-top: 7%;
	padding-left: 20%;
	padding-right: 5%;
	font-size: 650%;
	font-family: 'Vivaldi';
	font-style: italic;
/* 	background-color: #bb0605; */
	color: #880f0f;
	margin-bottom: 5px;
}

/* ===========================
   ===== Top Navigation ===== 
   =========================== */
.topNavigation {
	background: #666;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 15px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
}

.topNavigation ul {
	list-style: none;
	margin: 0 auto;
}

.topNavigation ul li {
	float: left;
	display: inline;
}

.topNavigation a:link,.topNavigation a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}

.topNavigation a:hover,.topNavigation a:active,.topNavigation .active a:link,.topNavigation .active a:visited
	{
	background: #880f0f;
	color: #fff;
	text-shadow: none !important;
}

/* ===========================
   ====Content Navigation ==== 
   =========================== 
   ====   Homepage only ======*/
.navigationContent {
	margin: 0 auto 30px auto;
	text-align: center;
}

.navigationContent nav ul {
	list-style: none;
	margin: 0, auto;
	padding: 0; 
	margin: 0;
}

.navigationContent nav ul li {
	float: left;
	display: inline;
	width: 33%;
	height: auto;
	
}

.navigationContent img {
	width: 90%;
	height: auto;
}

.navigationContent footer {
	font-style: italic;
	color: #999;
	font-size: 85%;
}

.navigationContent content {
	margin-top: 10px;
}

/* ===========================
   ====Main Content  ==== 
   =========================== */
.mainContent {
	margin: 0 auto 30px auto;
	background-color:#F9F3E3;
	
}

/* ===========================
   =======Left  Content======= 
   =========================== */
.leftContent {
	background-color: #CCC;
	margin-left: 0;
	padding: 1%;
	padding-top: 0;
	width: 19%;
	float:left;
/* 	color: #fff; */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	
}

.searchTerm {
	height: 60px;
/* 	background-color: #ffffff; */
}

.searchTerm form {
	float: left;
}

.searchTerm img {
	width: 20px;
	height: 20px;
	float: right;
	padding-left: 5px;
	
}

.selectionCriteria {
	padding-top: 3px;
}
.selectionCriteria content{
}

.selectionCriteria form {
	padding-left: 5%;
	margin-left: 2%;
	margin-right: 2%;
	text-align: left;
	background-color: #b69999;
/* 	color: #fff; */
	
}

.selectionCriteria button {
	width: 100%;
	height: 25px;
	text-align: left;
	font-size: 1em;
	
}

/* ===========================
   =======Middle  Content======= 
   =========================== */
.middleContent {
	background-color: #CCC;
	width: 60%;
	float: left;
	padding: 1%;
	padding-top: 0;
	margin-left: 1%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	
}

.textSearch {
/* 	background-color: #111111; */
	margin-bottom: 2%;
}

.resultList {
/* 	background-color: #999999; */
	margin-bottom: 2%;
}

.resultList img{
	
	width: 30px;
	float: left;
	padding:3px;
}
.resultList options img{
	
	width: 30px;
	float: right;
	padding:3px;
}
.resultList options form{
	
	float: right;
	padding:3px;
}

.resultList options{
	
	float: right;
}
.resultList button{
	
	width: 30px;
}

.resultList content{
	
	float: none;
}

.resultList h6{
	
	margin: 0;
	padding: 3px;
	size: line-height: 1.1;
	color: #880f0f;
	
	
}

/* ===========================
   =======Right  Content======= 
   =========================== */
.rightContent {
	background-color: #CCC;
	margin-left: 0;
	float: left;
	width: 13%;
	padding: 1%;
	padding-top: 0;
	margin-left: 1%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	
}

.top-sidebar {
	margin-left: 2%;
/* 	background-color: #684684; */
	padding: 2% 3%;
	margin-bottom: 2%;
}

.middle-sidebar {
	margin-left: 2%;
/* 	background-color: #123456; */
	padding: 2% 3%;
	margin-bottom: 2%;
}

.bottom-sidebar {
	margin-left: 2%;
/* 	background-color: #865421; */
	padding: 2% 3%;
}

/* ===========================
   ========= Footer ========== 
   =========================== */
.mainFooter {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 0.5%;
	padding-left: 0;
	background-color: #666;
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	/*position:fixed;
		padding:5px; bottom:0px;*/
}

.mainFooter p {
	width: 91%;
	margin: 2% auto;
}



/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
/* ===========================
   ====== Media Queries ====== 
   =========================== */
@media only screen and (min-width : 150px) and (max-width : 780px) {
	.body {
		clear: both;
		margin: 0 auto;
		width: 90%;
		font-size: 90%;
	}
	.mainHeader nav {
		background: #666;
		font-size: 1.143em;
		height: 160px;
		line-height: 30px;
		margin-bottom: 0;
	}
	.mainHeader nav ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
	}
	.mainHeader nav li {
		margin-left: 0 auto;
		width: 100%;
	}
	.mainHeader nav a:link,.mainHeader nav a:visited {
		color: #FFF;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}
	.mainHeader nav a:active,.mainHeader nav .active a:link,.mainHeader nav .active a:visited
		{
		background: #880f0f;
		color: #fff;
		text-shadow: none !important;
	}
	.mainHeader img {
		width: 100%;
		height: auto;
		margin-bottom: 3%;
	}
	.navigationContent {
		margin: 0 auto 30px auto;
		text-align: center;
	}
	.navigationContent nav ul {
		list-style: none;
		margin: 0, auto;
	}
	.navigationContent nav ul li {
		margin-left: 0, auto;
		width: 100%;
		height: auto;
	}
	.mainContent {
		overflow: hidden;
		line-height: 25px;
		margin-top: 4%;
		margin-bottom: 2%;
	}
	.topcontent {
		background-color: #FFF;
		padding: 2% 5%;
		margin-bottom: 4%;
	}
	.bottomcontent {
		background-color: #FFF;
		padding: 2% 5%;
	}
	.content {
		width: 100%;
		float: left;
	}
	.post-info {
		display: none;
	}
	.top-sidebar {
		width: 86%;
		float: left;
		background-color: #FFF;
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;
	}
	.top-sidebar p {
		width: 90%;
	}
	.middle-sidebar {
		width: 86%;
		float: left;
		background-color: #FFF;
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;
	}
	.middle-sidebar p {
		width: 90%;
	}
	.bottom-sidebar {
		width: 86%;
		float: left;
		background-color: #FFF;
		margin-top: 4%;
		margin-left: 0%;
		padding: 0 7%;
		margin-bottom: 1%;
	}
	.bottom-sidebar p {
		width: 90%;
	}
	.mainFooter {
		width: 100%;
		float: left;
		margin: 2% 0;
		padding-left: 0;
		background-color: #666;
		color: #FFF;
	}
	.mainFooter p {
		width: 86%;
		margin: 2% auto;
	}
}